* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.body {
	padding-top: 0;
}

/* filter */
.filter__row {
	margin-top: 18px;
	margin-bottom: 16px;
}

.filter__sort {
	display: flex;
	justify-content: space-between;
}

.filter {
	display: inline-flex;
	background: white;
}

.filter__header,
.filter__list__item,
.sort__header {
	padding: 8px 10px 8px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	display: inline-block;
}

.filter__header {
	position: relative;
}

.filter__header span,
.filter__text__body span {
	color: var(--textColor);
}

span.filter__apply__number {
	position: absolute;
	top: -8px;
	right: 6px;
	background: #ffb702;
	min-width: 16px;
	height: 16px;
	line-height: 16px;
	border-radius: 50%;
	font-size: 14px;
	font-weight: bold;
	color: white;
	text-align: center;
}

.filter__header i {
	color: #d3d3d3;
	font-size: 16px;
	margin-right: 2px;
}

.filter__text__body i,
.sort__header i {
	font-size: 12px;
	color: var(--textColor);
	padding-bottom: 2px;
}

.filter__list__item:last-child {
	margin-right: 0;
}

.filter__list__item.active {
	border-color: #2f86eb;
}

.filter__apply__exit {
	background: white;
	border: 1px solid #ff623d;
	color: #ff623d;
}

.filter__category__apply button,
.filter__apply button {
		padding: 8px 0;
		margin: 0 4px;
		border-radius: 4px;
		width: 170px;
		text-align: center;
		font-weight: bold;
}

.filter__apply__agree {
	background: #2f86eb;
	color: white;
	border: 1px solid #2f86eb;
	cursor: pointer;
}


.filter__apply, 
.filter__close {
	display: none;
}

.sort {
	display: inline-block;
	margin-left: auto;
	position: relative;
}

.sort.active .sort__list {
	display: block;
}

.sort__list {
	display: none;
	position: absolute;
	z-index: 1;
	background: white;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	padding: 0 12px;
	width: max-content;
	margin-top: 3px;
	right: 0;
}

.sort__item {
	padding: 10px 18px 10px 4px;
	border-bottom: 1px solid #f1f1f1;
}

.sort__item:last-child {
	border-bottom: none;
}

.sort__item i {
	font-size: 12px;
	margin-right: 4px;
	display: none;
}

.sort__item.active i {
	display: inline;
}

/* PC:  width >= 1024px */
@media (min-width: 1024px)
{
	/* Filter */
	.filter {
		align-items: center;
		position: relative;
		z-index: 2;
	}

	.overload {
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: transparent;
	}

	.overload.active {
		display: block;
	}

	.filter__category {
		display: inline-block;
		position: relative;
	}

	.filter__category:hover {
		cursor: pointer;
	}

	.filter__category.active 
	.filter__text__body {
		border-color: #2f86eb;
	}

	.filter__category.active
	.filter__text__body > i {
		transform: rotateZ(180deg);
	}

	.filter__category.active
	.filter__category__content {
		display: block;
	}

	.filter__list {
		position: relative;
		background: white;
	}

	.filter__list__item {
		margin-right: 6px;
		margin-top: 12px;
	}

	.filter__text__body,
	.filter__list__item {
		padding: 8px 10px 8px;
		border: 1px solid #e0e0e0;
		border-radius: 4px;
		display: inline-block;
	}

	.filter__text__body {
		margin-left: 8px;
	}

	.filter__category__content
	{
		display: none;
		position: absolute;
		left: 8px;
		top: 44px;
		border: 1px solid #e0e0e0;
		border-radius: 4px;
		width: max-content;
		min-width: 400px;
		max-width: 500px;
		padding: 0 12px 12px;
		background: white;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	}

	.filter__category__content:before,
	.filter__category__content:after {
		content: "";
		background: white;
		width: 10px;
		height: 10px;
		position: absolute;
		left: 20px;
		transform: rotateZ(45deg);
	}

	.filter__category__content:before
	{
		top: -6px;
		border: 1px solid #e0e0e0;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		z-index: -1;
	}

	.filter__category__content:after {
		top: -5px;
		left: 21px;
	}

	.filter__category__apply {
		margin: 0 auto;
		text-align: center;
		margin-top: 12px;
	}
}

/* Tablet && Mobile: width < 1024px */
@media (max-width: 1024px)
{
	/* Filter */
	.filter {
		z-index: 2;
	}

	.filter.active {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 12px;
		display: block;
	}

	.filter__body {
		padding-top: 12px;
		display: none;
	}

	.filter.active .filter__body {
		display: block;
	}

	.icon__mobile {
		display: inline;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.filter__text__body span {
		font-weight: bold;
	}

	.filter__text__body i {
		display: none;
	}

	.filter__list {
		margin-bottom: 12px;
	}

	.filter__list__item {
		margin-top: 6px;
		margin-bottom: 4px;
		margin-right: 4px;
	}

	.filter__category__content {
		display: block;
	}

	.filter__category__apply {
		display: none;
	}

	.filter__apply {
		display: block;
		text-align: center;
	}

	.filter__close {
		display: inline-block;
		padding: 8px 16px;
		border: 1px solid #e0e0e0;
		border-radius: 4px;
		color: #333;
		position: absolute;
		top: 12px;
		right: 12px;
	}

	.filter__row,
	.body {
		margin-left: 6px;
		margin-right: 6px;
	}

	.overload {
		z-index: 2;
	}
}